body {
    font-family: Lucida;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #3b3b3b;
    -webkit-font-smoothing: antialiased;
    background-image: url(p5-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 580px) {
    body {
        font-size: 16px;
        line-height: 22px;
    }
}

.wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 800px;
}

@media screen and (max-width: 580px) {
    .personaProfiles {
        line-height: 22px;
    }
}

.personaProfiles {
    background-color: lightsteelblue;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.profileBackground {
    grid-area: 1 / 1 / 13 / 13;
}

.profileNameandArcana {
    grid-area: 1 / 2 / 2 / 12;
}

.profileAttributeHeader {
    grid-area: 2 / 1 / 3 / 13;
}

.profileAttributes {
    grid-area: 3 / 1 / 4 / 13;
}

.profileElementsHeader {
    grid-area: 4 / 1 / 5 / 13;
}

.profileElements {
    grid-area: 5 / 1 / 6 / 13;
}

.profileSkillHeader {
    grid-area: 6 / 1 / 7 / 13;
}

.profileSkills {
    grid-area: 7 / 1 / 8 / 13;
}

.profileFuseFromHeader {
    grid-area: 8 / 1 / 9 / 13;
}

.profileFuseFrom {
    grid-area: 9 / 1 / 10 / 13;
}

.profileFuseToHeader {
    grid-area: 10 / 1 / 11 / 13;
}

.profileFuseTo {
    grid-area: 11 / 1 / 12 / 13;
}

tr, td, th {
    border: 1px solid gray;
    border-collapse: collapse;
}

td, th {
    padding: 4px;
}

th {
    background-color: crimson;
    padding: 8px;
    color: whitesmoke;
}

tr:nth-child(even) {
    background-color: teal;
    color: white;
}

button {
    display: block;
    background-color: crimson;
    border: none;
}

.showHide {
    display: none;
}

.table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    display: table;
}

@media screen and (max-width: 580px) {
    .table {
        display: block;
    }
}

.row {
    display: table-row;
    background: #f6f6f6;
}

.row:nth-of-type(odd) {
    background: #e9e9e9;
}

.row.header {
    font-weight: 900;
    color: #ffffff;
    background: crimson;
}

@media screen and (max-width: 580px) {
    .row {
        padding: 14px 0 7px;
        display: block;
    }
    .row.header {
        padding: 0;
        height: 6px;
    }
    .row.header .cell {
        display: none;
    }
    .row .cell {
        margin-bottom: 10px;
    }
    .row .cell:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }
}

.cell {
    padding: 6px 12px;
    display: table-cell;
}

.sideBorderleft {
    border-left: black solid 1px;
}

@media screen and (max-width: 580px) {
    .cell {
        padding: 2px 16px;
        display: block;
    }
}