body {
    font-family: Lucida;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #3b3b3b;
    -webkit-font-smoothing: antialiased;
    background-image: url(p5-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 580px) {
    body {
        font-size: 16px;
        line-height: 22px;
      
       
    }
}

.wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 1000px;
    
}

@media screen and (max-width: 580px) {
    .personaProfiles {
        line-height: 22px;

    }
    .wrapper {
        margin: 0 auto;
        padding: 40px;
        max-width: 30%;
       
        
    }
}

.personaProfiles {
    background-color: lightslategrey;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    height: 500%;
   
    
}

.profileImage {
    object-fit: cover;
  width: 100%;
  max-height: 100%;
    grid-area: 1 / 1 / 6 / 4;
    background-color: blue;
}

.profileAttributes{
 
    text-align: center;
    grid-area: 1 / 4 / 3 / 13;
   
   
}

.profileElementals{
  
    
    grid-area: 3 / 4 / 5 / 13;
}

.profileFuseFrom {
    background-color: coral;
    grid-area: 5 / 4 / 7 / 13;
}

.profileFuseTo {
background-color: cyan;
    grid-area: 7 / 4 / 9 / 13;
}

.profileSkills{
    background-color: darkgoldenrod;
    grid-area: 9 / 4 / 11 / 13;
}

.profileAdditionalInfo{
    background-color: darksalmon;
    grid-area: 6 / 1 / 11 / 4;
}

table,
tr,
td,
th {
    border: 1px solid gray;
    border-collapse: collapse;
    

}


td,
th {
    padding: 4px;

}


th {
    background-color: crimson;
    border: 1px solid gray;
    color: whitesmoke;
}

tr:nth-child(even) {
    background-color: teal;
    color: white;



}

button {
    display: block;
    background-color: crimson;
    border: none;
}

.showHide {
    display: none;
}

.table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    display: table;
}

@media screen and (max-width: 580px) {
    .table {
        display: block;
    }
    
}

.row {
    display: table-row;
    background: #f6f6f6;
}

.row:nth-of-type(odd) {
    background: #e9e9e9;
}

.row.header {
    font-weight: 900;
    color: #ffffff;
    background: crimson;
}

@media screen and (max-width: 580px) {
    .row {
        padding: 14px 0 7px;
        display: block;
    }
    .row.header {
        padding: 0;
        height: 6px;
    }
    .row.header .cell {
        display: none;
    }
    .row .cell {
        margin-bottom: 10px;
    }
    .row .cell:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }
}

.cell {
    padding: 6px 12px;
    display: table-cell;
}

.sideBorderleft {
    border-left: black solid 1px;
}

@media screen and (max-width: 580px) {
    .cell {
        padding: 2px 16px;
        display: block;
    }
}